/* Leaflet layer control left alignment */
.leaflet-control-layers {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.8);
}

/* Left-align labels (radio buttons) inside the Leaflet layer control */
.leaflet-control-layers-base label {
  text-align: left;
}

/* Left-align general Leaflet controls (like legends) */
.leaflet-control {
  text-align: left;
}

/* Justify paragraph text */
p {
  text-align: justify;
}